        <section class="adv-section">
        <h2 class="visually-hidden">Advantages</h2>
    
        <div class="advantage-section container">
            <div data-aos="fade-up" data-aos-duration="600"><ul class="advantage-sec-list">
                <li class="adv-sec-list-item">
                    <div class="advantage-sec-svg">
                        <svg width="32px" height="32px" class="adv-icon">
                            <use xlink:href="/src/images/sprites.svg#icon-choco"></use>
                        </svg>
                    </div>
    
                        <h4 class="adv-sec-head">Unsurpassed taste</h4>
                        <p class="adv-sec-description">
                            Crafted with the finest quality cocoa beans <br>
                            and a dedication to perfection, each bite is a <br>
                            decadent experience that simply cannot be <br>
                            matched. Savor the richness and complexity <br>
                            of our Unsurpassed Taste and discover a new <br>
                            level of chocolate bliss.
                        </p>
                </li>
    
                <li class="adv-sec-list-item">
                    <div class="advantage-sec-svg">
                        <svg width="32px" height="32px" class="adv-icon">
                            <use xlink:href="/src/images/sprites.svg#icon-coin"></use>
                        </svg>
                    </div>
    
                        <h4 class="adv-sec-head">Affordable price</h4>
                        <p class="adv-sec-description">
                            Indulge in high-quality chocolate without <br>
                            breaking the bank with Simply Chocolate's <br>
                            selection of affordable treats. Enjoy mouth- <br>
                            watering truffles and velvety chocolate bars <br>
                            without sacrificing taste or quality. Browse <br>
                            our selection and indulge in affordable luxury <br>
                            today.
                        </p>
                </li>
    
                <li class="adv-sec-list-item">
                    <div class="advantage-sec-svg">
                        <svg width="32px" height="32px" class="adv-icon">
                            <use xlink:href="/src/images/sprites.svg#icon-spoon"></use>
                        </svg>
                    </div>
    
                        <h4 class="adv-sec-head">Own production</h4>
                        <p class="adv-sec-description">
                            We take pride in our own production process, <br>
                            ensuring that every step is carefully crafted to <br>
                            perfection. From selecting the finest <br>
                            ingredients to handcrafting each piece, our <br>
                            attention to detail is evident in every bite.
                        </p>
                </li>
            </ul>
        </div>
        </div>
        </section>