<!-- Header -->
    <header class="header">
      <div class="header-container">
        <nav class="header-navigation">
          <div data-aos="flip-left" data-aos-delay="500" data-aos-duration="1000">
          <div class="logo-container">
          <a class="header-logo" href="index.html"><span class="font-italic">SIMPLY&nbsp;</span>CHOCOLATE&nbsp;
            <svg width="24" height="24" class="logo-icon">
                <use href="/src/images/sprites.svg#icon-choco-logo"></use>
            </svg></a>
          </div>
          </div>
            <div data-aos="fade-down" data-aos-delay="500" data-aos-duration="1000">
            <ul class="header-list">
                  <li class="header-item">
                      <a class="header-link" href="/src/index.html">Home</a>
                  </li>
                  <li class="header-item">
                      <a class="header-link" href="#howitsmade">How it's made?</a>
                  </li>
                  <li class="header-item">
                      <a class="header-link" href="#ourproducts">Our Products</a>
                  </li>
                  <li class="header-item">
                      <a class="header-link" href="#topsellers">Top sellers</a>
                  </li>
                  <li class="header-item">
                      <a class="header-link" href="#chocolateisloved">Chocolate is loved</a>
                  </li>
              </ul>
            </div>
            
          <ul class="header-list-social">
            <li class="header-social-item">
                <a class="header-social-link" href="https://instagram.com/" target="_blank" rel="noopener noreferrer">
                    <svg width="24" height="24" class="icon">
                       <use href="/src/images/sprites.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>

            <li class="header-social-item">
              <a class="header-social-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                <svg width="24" height="24" class="icon">
                  <use href="/src/images/sprites.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
          
          <button type="button" class="menu-button js-open-menu" aria-expanded="false" aria-controls="mob-menu">
            <svg width="28" height="28" class="menu-btn-icon">
              <use href="/src/images/sprites.svg#icon-hamburger"></use>
            </svg>
          </button>
        </div>


        <!-- mobile header -->

    </header>

          <div type="button" class="mobile-menu js-menu-container" id="mob-menu">
            <div class="header-container mobile-menu-container">
            <button class="mob-menu-close js-close-menu" type="button">
              <svg width="28" height="28" class="mob-nav-close">
                <use href="/src/images/sprites.svg#icon-close"></use>
              </svg>
            </button>
          
            <ul class="mob-nav-menu">
              <li class="mob-nav-menu-item"><a class="mob-nav-menu-link" href="/src/index.html">Home</a></li>
              <li class="mob-nav-menu-item"><a class="mob-nav-menu-link" href="#howitsmade">How it’s made?</a></li>
              <li class="mob-nav-menu-item"><a class="mob-nav-menu-link" href="#ourproducts">Our products</a></li>
              <li class="mob-nav-menu-item"><a class="mob-nav-menu-link" href="#topsellers">Top sellers</a></li>
              <li class="mob-nav-menu-item"><a class="mob-nav-menu-link" href="#chocolateisloved">Chocolate is loved</a></li>
            </ul>
          <div class="mobile-social-media-container">
            <ul class="mobile-social-media-list list">
              <li class="mobile-social-media-item">
                <a class="mobile-social-media-link" href="https://www.instagram.com/" target="_blank" rel="noopener, noreferrer">
                  <svg aria-label="instagram" class="mobile-social-media-icon" width="20" height="20">
                    <use href="/src/images/sprites.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="mobile-social-media-item">
                <a class="mobile-social-media-link" href="https://www.twitter.com/" target="_blank" rel="noopener, noreferrer">
                  <svg aria-label="twitter" class="mobile-social-media-icon" width="20" height="20">
                    <use href="/src/images/sprites.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          </div>
          </div>

          <!-- HERO -->
          <section class="section-hero">
            <h1 hidden>Chocolate Delights</h1>
              <div class="container container-hero">
                <div class="bg-hero-wrapper">
                  <div class="wrap">
                    <div data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
                    <h2 class="title-hero">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h2>
                    <ul class="btn-list-hero">
                      <li>
                        <button type="button" class="hero-buy-now-btn" data-open-modal="2">
                          Buy now
                        </button>
                      </li>
                      <li>
                        <a href="#howitsmade" class="hero-how-its-made-btn">
                          How it’s made
                        </a>
                      </li>
                    </ul></div>
                  </div>
                  <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                  <a href="#footer" class="link-scroll">
                    scroll down
                    <span class="scroll-logo">
                      <svg class="scroll-icon">
                        <use href="/src/images/sprites.svg#icon-scroll-down"></use>
                      </svg>
                    </span>
                  </a></div>
                </div>
            </div>
          </section>