<section class="how-its-made section" id="howitsmade">
    <div class="container">
        <div class="howitsmade-grp">

                <div data-aos="flip-up" data-aos-delay="500" data-aos-duration="600"><h2 class="title">HOW IT'S <span class="orange-text">MADE?</span></h2></div>

            <div class="media-grp">
                <div data-aos="fade-right" data-aos-delay="500" data-aos-duration="600">
                <div class="vidplayer">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oWjlmi9bbQA?si=_VliZ_YtTTXKLeVH"
                        title="YouTube video player" loading="lazy"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe></div>
                </div>                 
                <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="600">
                <div class="box-choco">
                    <p class="chocolate">Try our chocolates today and<br> discover the perfect balance of flavor</p>
                    <ul class="preparation"> <!-- Corrected class name to match the CSS -->
                        <li>Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
                        <li>At the same time, prepare a water bath. Melt the butter on it.</li>
                        <li>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
                        <li>Heat the mixture over low heat, letting it barely boil.</li>
                        <li>Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>