<section class="reviews-section section" id="chocolateisloved">
        <div data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000"><h2 class="title"><span class="orange-text">chocolate</span> is loved</h2></div>

<div class="container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card">
                <div class="image-content">
                    <div class="card-image">
                        <img src="/src/images/review/Ellipse 1.png" class="card-img" alt="">
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="name">Victoria Dobrzhanska</h2>
                    <p class="description">I love this chocolate bar. Perfect combination of light crispy wafer,
                        covered in a thin layer chocolate.</p>
                </div>
            </div>
        </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="image-content">
                        <div class="card-image">
                            <img src="/src/images/review/Ellipse 2.png" class="card-img" alt="">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Nazar Babenko</h2>
                        <p class="description">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
                        chocolate is good.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="image-content">
                        <div class="card-image">
                            <img src="/src/images/review/Ellipse 3.png" class="card-img" alt="">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Olena Kampusch</h2>
                        <p class="description">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft
                        but crunchy.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="image-content">
                        <div class="card-image">
                            <img src="/src/images/review/Ellipse 4.png" class="card-img" alt="">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Natalia Sus</h2>
                        <p class="description">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness
                        level.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="image-content">
                        <div class="card-image">
                            <img src="/src/images/review/Ellipse 5.png" class="card-img" alt="">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Danilo Nottingham</h2>
                        <p class="description">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter
                        and these chips for a snack.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="image-content">
                        <div class="card-image">
                            <img src="/src/images/review/Ellipse 6.png" class="card-img" alt="">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Irina Tydnyuk</h2>
                        <p class="description">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world
                        class</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination">
            

    </div>
</div>
<div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
<button type="button" class="review-btn" data-open-modal="1">Leave a review</button></div>
</section>
