<div class="backdrop is-hidden" data-modal="3">
<div class="modal-subs">
            <button type="button" class="close-btn" data-close-modal>
                <svg width="28" height="28" class="subs-close">
                    <use href="/src/images/sprites.svg#icon-close"></use>
                </svg>
            </button>
        <img class="subs-img" src="/src/images/subscribe modal/subs-image.png" alt="chocolate image" width="538" height="196">
        <div class="explore-wrapper">
            <h2 class="title-modal-3">EXPLORE OUR<br><span class="orange-text-modal-3">NEW CHOCOLATE</span> FIRST!</h2>
            <label class="email-info-1">
                <input class="email-subs" type="email" name="email" pattern="^[a-zA-Z0-9._%+-]+_?[a-zA-Z0-9._%+-]*@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Enter your email" required />
            </label>
            <button type="submit" class="send-btn">Subscribe</button>
        </div>
    </div>
</div>