    <section class="top-sellers section" id="topsellers">
        <div class="container">
            <div data-aos="flip-down" data-aos-delay="500" data-aos-duration="600">
            <h2 class="title"><span class="orange-text">TOP</span> SELLERS</h2></div>
            
            <ul  class="ts-block">
                <li class="ts-list">
                    <img class="ts-image" src="/src/images/topsellers/choc1.jpg" alt="chocolate bar and macadamia nuts" width="368px" height="464" />
                </li>

                <p class="ts-text hidden-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been
                    around for thousands of years and was first discovered by the Native <br> American tribe called the Mayans.</p>
        
                <li class="ts-list">
                    <img class="ts-image" src="/src/images/topsellers/choc2.jpg" alt="milk chocolate bar with nuts" width="368px" height="464" />
                </li>
        
                <li class="ts-list">
                    <img class="ts-image hide-block" src="/src/images/topsellers/choc3.jpg" alt="dark chocolate with nuts" width="368px" height="464" />
                </li>
            </ul>
            <div data-aos="zoom-in" data-aos-delay="500" data-aos-duration="600">
            <div class="ts-bottom">
                <p class="ts-text hidden-text-mob">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
                <button class="ts-btn" type="button" data-open-modal="2">
                    Buy now
                </button>
            </div>
            </div>
        </div>
    </section>