.adv-section {
    background-color: var(--blackcurrant);
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width:768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.visually-hidden {
    display: none;
}

.advantage-sec-list {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    gap: 22px;
    flex-wrap: wrap;
    align-content: center;

    @media screen and (min-width:768px) {
        justify-content: flex-start;
        flex-direction: row;
        column-gap: 60px;
        row-gap: 32px;
    }

    @media screen and (min-width:1200px) {
        justify-content: space-between;
        gap: 88px;
    }
}

.adv-icon {
    border: 1px solid #FFFFFF80;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 62px;
    height: 62px;
}

.adv-sec-head {
    color: var(--lightgray);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 22px;
    margin-bottom: 18px;
}

.adv-sec-description {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    flex-shrink: 0;
}

.adv-sec-list-item {
    position: relative;
    width: 308px;
    row-gap: 32px;
}

.adv-sec-list-item:not(:last-child)::after {
    display: none;

    @media screen and (min-width:768px) {
        display: none;
    }

    @media screen and (min-width:1200px) {
        content: '';
        display: inline-block;
        position: absolute;
        top: 60px;
        right: -18px;
        height: 124px;
        background-color: rgba(255, 255, 255, 0.50);
        width: 1px;
    }
}