.header {
  padding-top: 20px;
  padding-bottom: 14px;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 32px;
  }
}

.header-container {
  max-width: 375px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding: 0 32px;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.logo-container {
  display: flex;
}

.header-logo {
  justify-content: center;
  display: flex;
  align-items: center;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
}

.font-italic {
  font-style: italic;
}

.mob-nav-menu {
  flex-direction: column;
  row-gap: 24px;
  display: flex;
}

.mob-nav-menu-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  letter-spacing: -0.28px;
}

.header-link::after {
  content: '';
  position: absolute;
  top: 30px;
  width: 0;
  height: 1px;
  border-radius: 1px;
  background-color: #FD9222;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.header-link:hover::after {
  width: 50%;
}

.header-link:focus::after {
  width: 50%;
}

// mobile

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 1200px) {
      display: none;
    }
}

//max-width

@media screen and (max-width: 1199px) {
  .header-list {
    display: none;
  }

  .header-list-social {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

// separate

@media screen and (min-width: 768px) {
  .menu-btn-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1200px) {
.header-navigation {
    display: flex;
    align-items: center;
  }

.logo-text {
    margin-left: 7px;
  }

  .logo-text-link {
    font-size: 18px;
    line-height: 1.11;
    color: #111111;
  }

  .logo-icon {
    width: 24px;
    height: 24px;
  }

  .logo-list {
    margin-right: 188px;
  }

  .header-list {
    display: flex;
    column-gap: 24px;
    margin-left: 188px;
  }

  .header-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: -0.02em;
    color: #1E1823;
    transition: color 250ms cubic-bezier(.17, .67, .54, .42)
  }

  .header-link:hover,
  .header-link:focus {
    color: #FD9222;
  }

  .header-list-social {
    margin-left: auto;
    display: flex;
    column-gap: 18px;
  }

  .header-social-link {
    display: flex;
    justify-content: center;
  }

  .header-social-link:hover .icon,
  .header-social-link:focus .icon {
    fill: #FD9222;
  }
}


// mobile menu

.mobile-menu {
  cursor: pointer;
  position: fixed;
  width: 220px;
  height: 100%;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #1E1823;
  opacity: 0.7;
  transform: translateX(100%);
  transition: 700ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
      width: 290px;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateX(0);
  animation-duration: 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 136px;
  padding-bottom: 20px;
}

.mob-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;

  
}

.mob-nav-close {
  fill: #FAFAFA;
  cursor: pointer;
}

.mob-menu-close:hover .mob-nav-close,
.mob-menu-close:focus .mob-nav-close {
  fill: #FD9222;
  stroke: #FD9222;
  width: 40px;
  height: 40px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mob-nav-menu-link::after {
  content: '';
  position: absolute;
  top: 30px;
  width: 0;
  height: 1px;
  border-radius: 1px;
  background-color: #FD9222;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.mob-nav-menu-link:hover::after {
  width: 50%;
}

.mob-nav-menu-link:focus::after {
  width: 50%;
}

.mob-nav-menu-link:hover,
.mob-nav-menu-link:focus {
color: #FD9222;
}

.mob-nav-menu-link:hover:after,
.mob-nav-menu-link:focus:after {
  display: block;
}

.mobile-social-media-icon {
  fill: #fff;
  // fill: transparent;
}

.mobile-social-media-link:hover .mobile-social-media-icon,
.mobile-social-media-link:focus .mobile-social-media-icon {
  fill: #FD9222;
}

.mobile-social-media-container {
  display: flex;
  margin-right: auto;
}

.mobile-social-media-list {
  display: flex;
  column-gap: 18px;
}

.mobile-social-media-link {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 32px;
  }

  .mobile-menu-container {
    padding-top: 156px;
    padding-bottom: 24px;
  }

  .mob-menu-close {
    top: 24px;
    right: 32px;
  }

.mob-menu-close:hover .mob-nav-close,
.mob-menu-close:focus .mob-nav-close {
    stroke: #FD9222;
    width: 40px;
    height: 40px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-nav-menu {
    padding-right: 49px;
    padding-left: 53px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .mobile-social-media-icon {
    width: 24px;
    height: 24px;
  }
}

// HERO SECTION

.section-hero {
  padding-bottom: 0;

  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 72px;
  }
}

.bg-hero-wrapper {
  padding-top: 395px;
  padding-bottom: 20px;
  background-image: linear-gradient(180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%),
    url(/src/images/hero/choco-hero-375-1x.jpg);
  background-position: center;
  background-color: #1E1823;
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    background-image: url(/src/images/hero/choco-hero-768-1x.jpg);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 381px;
    padding-bottom: 40px;
    background-image: url(/src/images/hero/choco-hero-1200-1x.jpg);
  }

}

@media (min-device-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {

  .bg-hero-wrapper {
    background-image: linear-gradient(180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%),
      url(/src/images/hero/choco-hero-375-2x.jpg);
  }
}

.title-hero {
  text-align: start;
  max-width: 280px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #fff;

  @media screen and (min-width: 768px) {
    max-width: 484px;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.84px;
  }
}

.btn-list-hero {
  margin-top: 32px;
  display: flex;
  gap: 14px;
  align-items: center;
}

.hero-buy-now-btn {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
}

.hero-buy-now-btn:hover,
.hero-buy-now-btn:focus {
  color: #FD9222;
  background: #FCF1E0;
}

.hero-how-its-made-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 1px solid #FFF;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  padding: 12px 28px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
}

.hero-how-its-made-btn:hover,
.hero-how-its-made-btn:focus {
  color: #FD9222;
  background-color: #FFF;
  border: 1px solid #FD9222;
}

.link-scroll {
  text-decoration: none;
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #fff;
  letter-spacing: -0.03em;
}

.link-scroll:hover,
.link-scroll:focus {
  color: #FD9222;
}

.scroll-logo {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FD9222;
  background-color: #FFF;
  border-radius: 50%;
}

.link-scroll:hover .scroll-logo,
.link-scroll:focus .scroll-logo {
  background-color: #FD9222;
  color: #fff;
}

.scroll-icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}