.subscribe-grp {
    // padding-top: 72px;
    // padding-bottom: 72px;
    padding-top: 62px;
    padding-bottom: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;

    
}

.subscribe-title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.subscribe-content {
    width: 326px; //from 467px
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.subscribe-button {
    display: flex;
    // padding: 14px 40px;
    padding: 12px 28px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    background: var(--orangepeel);
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    // font-size: 18px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border: none;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
}

.subscribe {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/src/images/subscribe/Subcribe-mini.jpg), lightgray 0px -481.157px / 100% 375.122% no-repeat;
    background-size: cover;
}

.footer {
    background-color: var(--blackcurrant);
    padding-left: 32px;
    padding-right: 32px;
}

.footer-header {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
}

.footer-header>span {
    color: var(--orangepeel);
}

.footer-contacts,
.footer-top,
.footer-contacts,
.footer-contact-links,
.footer-contact-list,
.footer-anchor-links,
.footer,
.footer-icons {
    display: flex;
}

// moved
.footer-contacts {
    justify-content: space-between;
}

.footer-anchor-links {
    flex-direction: column;
    gap: 18px;
}
// end of moved


.footer-contact-links {
    color: #FFF;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    /* 128.571% */
    gap: 14px;
}

.footer-contact-list {
    gap: 4px;
}

.footer-icons {
    width: auto;
    height: auto;
    gap: 14px; //from 18px
        transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);

}

.footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    // moved
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 32px;
}

.footer-social-icons {
    fill: #FAFAFA;
}

.footer-bottom {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
    padding-top: 24px;
    // padding-bottom: 50px;
    padding-bottom: 32px;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
}

.footer-contact-links,
.footer-contact-list {
    flex-direction: column;
}

.footer-contact-list,
.footer-icons,
.footer-anchor-links {
    list-style-type: none;
}

.footer-anchor-links {
    gap: 24px;
}

.footer-contact-list>li>a,
.footer-anchor-links>li>a {
    text-decoration: none;
    color: #FFF;
}

.footer-social-icons:hover {
    fill: var(--orangepeel);
    
}

.footer-anchor-links>li>a:hover,
.footer-contact-list>li>a:hover {
    color: var(--orangepeel);
}

.subscribe-button:hover,
.subscribe-button:focus {
    color: var(--orangepeel);
    background-color: #FCF1E0;
    opacity: 1.0;
}

// .container {
//     mobile
//     margin: 0 auto;
// }
@media screen and (min-width: 375px) {

    // .container {
    //     width: auto;
    //     height: auto;
    //     margin: 0 auto;
    // }

    // .subscribe-grp {
    //     padding-top: 62px;
    //     padding-bottom: 63px;
    // }

    // .subscribe-button {
    //     font-size: 14px;
    //     padding: 12px 28px;
    // }

    // .footer-top {
    //     flex-direction: column;
    //     padding-top: 32px;
    //     padding-bottom: 32px;
    //     gap: 32px;
    // }

    // .footer-contacts {
    //     justify-content: space-between;
    // }

    // .footer-anchor-links {
    //     flex-direction: column;
    //     gap: 18px;
    // }

    // .subscribe, removed //
    // .footer {
    //     padding-left: 20px;
    //     padding-right: 20px;
    // }

    // .subscribe-content {
    //     width: 326px;
    // }

    // .footer-bottom {
    //     padding-bottom: 32px;
    // }

    // .footer-icons {
    //     gap: 14px;
    // }

    // .subscribe {
    //     background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/Subcribe-mini.jpg), lightgray 0px -481.157px / 100% 375.122% no-repeat;
    //     background-size: cover;
    // }
}


@media screen and (min-width: 768px) {
    // .container {
    //     width: 768px;
    // }

    .footer-top {
        flex-direction: row;
        align-items: self-start;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 62px;
    }

    .footer-contacts {
        gap: 50px
    }

    .subscribe-content {
        width: 467px;
    }

    .subscribe {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/src/images/subscribe/Subcribe-img.jpg), lightgray 0px -481.157px / 100% 375.122% no-repeat;
        background-size: cover;
    }

    .footer-anchor-links {
        flex-direction: row;
    }

    .subscribe-button {
        padding: 14px 40px;
        font-size: 18px;
    }
}


@media screen and (min-width: 1200px) {

// new css

// end of new css



// .container {
//     width: 1200px;
// }

//         .footer-top {
//             flex-direction: row;
//             padding-top: 32px;
//             padding-bottom: 32px;
//             gap: 32px;
//         }

//     .footer-contacts {
//         gap: 63px;
//     }

//     // added
//     .footer-anchor-links {
//         flex-direction: row;
//         gap: 18px;
//     }
.subscribe {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(/src/images/subscribe/Subcribe.jpg), lightgray 0px -481.157px / 100% 375.122% no-repeat;
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 100vw;
}

}

