.diff-margin {
    margin-bottom: 28px;
}

.uc-description {
    font-size: 14px;
    // change to margin-bottom
    // added
    margin: 0 auto;
    padding-bottom: 32px;
    line-height: 1.28;
    text-align: center;
    letter-spacing: -.02em;
    color: var(--blackcurrant);
    width: 335px;

    // added media queries
    @media screen and (min-width: 768px) {
        width: 486px;
        padding-bottom: 50px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 486px;
    }
}

.uc-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; //19px to 20px

    // @media screen and (max-width: 767px) {
    //     padding: 40px;
    // }

    @media screen and (min-width: 768px) {
        gap: 29px;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        gap: 19px;
        flex-wrap: nowrap;
    }
}

.uc-cards-img {
    padding: 28px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 335px;
    margin: 0 auto;
    
    // added code
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;

    @media screen and (min-width: 768px) {
        width: 336px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.uc-cards:hover .uc-hover {
    opacity: 1;
    transform: translateY(0);
}

.uc-hover {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.50s ease-in-out;
    padding: 20px;
    border-radius: 13px;
}

.img-card {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    // added
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 171px;
    }

    @media screen and (min-width: 1200px) {
        width: 206px;
        height: 160px;
    }
}

.caption {
    font-size: 14px;
    padding-top: 36px;
}

.orange-border {
    border-radius: 15px;
    background: var(--orangepeel)
}

.black-border {
    border-radius: 15px;
    background-color: var(--blackcurrant);
}
.white-background {
    border: 1px solid var(--orangepeel);
    border-radius: 15px;
}

.white-background:hover {
    border: none;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #111111;
}

.uc-h3-hover {
    font-size: 18px;
    color: #111;
    padding-bottom: 8px;
    font-weight: 600;
}

.uc-hover-button {
    border-radius: 35px;
    background: var(--lightgray);
    border: 1px solid var(--orangepeel);
    text-align: center;
    font-size: 10px;
    padding: 6px 16px;
    color: #111;
}

.uc-hover-active {
    color: #FFF;
    font-size: 10px;
    text-align: center;
    font-weight: 400;
    line-height: 12px;
    padding: 6px 16px;
    border-radius: 35px;
    background: var(--orangepeel);
    border: 1px solid var(--orangepeel);
}

.selected {
    background-color: var(--orangepeel);
}


.uc-h3-details {
    color: #111;
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    width: 279px;
    height: 146px;
    margin-top: 14px;

    @media screen and (min-width: 768px) {
        width: 280px;
        height: 146px;
    }

    @media screen and (min-width: 1200px) {
        width: 230px;
        height: 162px;
        font-size: 12px;
        margin-top: 8px;
    }
}

