.modal-content {
    max-width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-height: 90vh;
    overflow-y: scroll;
    background-color: var(--lightgray);
    padding: 32px 24px;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
    border-radius: 15px;

    @media screen and (min-width: 768px) {
        max-width: 609px;
        padding: 48px;
    }
}   

.modal-content::-webkit-scrollbar {
    display: none;
}

// int tel

.iti__country-list {
    width: 245px;
    overflow-x: hidden;
}

.iti__country-list {
    padding: 5px;
}

.iti__country {
    font-size: 14px;
    width: 300px;
}

.iti__country-name {
    flex-wrap: wrap;
}

.tel-no {
    padding-left: 138px;
}

.iti {
    width: 100%;
    margin-bottom: 18px;
    margin-top: 8px;
}

.iti__selected-flag {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.iti--separate-dial-code .iti__selected-flag {
    background-color: #fddab2;
}

.iti--separate-dial-code .iti__selected-flag:hover {
    background-color: #fddab2;
}

.close-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14px;
    right: 14px;
}

.icon-close-1 {
    fill: #111;
    width: 24px;
    height: 24px;
    
    @media screen and (min-width: 768px) {
        width: 28px;
        height: 28px;
    }
}

.icon-close-1:hover {
    fill: var(--orangepeel);
}

.title-modal-1 {
    text-align: center;
    color: #FD9222;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.orange-text-modal-1 {
    color: #111;
}

.order-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 32px;
    
    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 16px;
        width: 513px;
    }

}

.order-list {
    width: 100%;
    background-color: var(--white-color);
    border: 1px solid rgba(17, 17, 17, .1);
    border-radius: 15px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5.44px 5.44px #00000008;

    @media screen and (min-width: 768px) {
        flex-direction: column;
        gap: 14px;
        padding: 24px 20px 18px 20px;
        width: 160px;
    }
}

.order-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 69px;


    @media screen and (min-width: 768px) {
    width: 120px;
    height: 107px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.select-btn{
    padding: 6px 16px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 100px;
    background: var(--lightgray);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #111;
}

.buy-now-radio:checked+.select-btn {
    background: #FCF1E0;
    border-color: var(--orangepeel);
}

// Personal Info

.container-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.personal-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 21px;
    }
}

.userspan {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.24px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
}

input::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

.input-name {
    padding: 14px 18px;
    border-radius: 13px;
    width: 100%;
    font-size: 14px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    outline: 0;
    margin-bottom: 18px;
    margin-top: 8px;

    @media screen and (min-width: 768px) {
        padding: 22px 24px;
    }
}

.input-name:hover, 
.input-name:focus {
    border-color: var(--orangepeel);
}

.email-info {
    margin-top: 18px;
}

.block-span {
    display: block;
    position: relative;
    // margin-bottom: 18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icon-mastercard {
    position: absolute;
    top: 54%;
    left: 82%;
    transform: translateY(-50%);

    @media screen and (min-width: 768px) {
        top: 54%;
        left: 90%;
        transform: translateY(-50%);
    }
}

.usermessage{
    display: block;
    width: 100%;
    padding: 14px 18px 60px 18px;
    margin-top: 8px;
    border-radius: 13px;
    margin-bottom: 18px;
    resize: none;
    outline: none;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    font: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;

    @media screen and (min-width: 768px) {
        padding: 22px 24px 93px;
    }
}

textarea:hover,
textarea:focus {
    border-color: var(--orangepeel);
}

textarea::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.36px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

button {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.order-btn {
    display: block;
    background: var(--orangepeel);
    margin-right: auto;
    border: none;
    font-size: 14px;
    border-radius: 100px;
    padding: 12px 28px;
    cursor: pointer;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
}

.order-btn:hover,
.order-btn:active {
    color: var(--orangepeel);
    background-color: #FCF1E0;
    opacity: 1.0;
}